/* ActivityContent.css 파일 내용 */

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button-container {
    align-self: flex-start;
}

.page-title {
    margin: 20px 0;
}

.photo-container {
    /* 사진의 크기 및 여백을 조정하세요 */
    width: 90%; /* 또는 필요한 크기로 설정 */
    margin: 20px 0;
}

.photo-container img {
    width: 100%; /* 이미지가 컨테이너 너비에 맞게 조정됨 */
    height: auto; /* 이미지의 원래 비율을 유지함 */
}

.photo-description {
    border: 1px solid #000; /* 테두리 색상은 원하는 대로 조정 가능 */
    padding: 10px;
    margin: 20px 0;
}

/* 나머지 필요한 스타일 */
