.footer {
    height: 8%;
    position: fixed;
    bottom: 0; /* 하단에 붙임 */
    left: 0; /* 왼쪽 끝에서 시작 */
    right: 0; /* 오른쪽 끝까지 확장 */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    background-color: white;
    z-index: 1000;
    border-top: 1px solid #B7B7B7;
}

.footer .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer .icon-description {
    font-size: 10px;
    color: #666;
    margin-top: -5px; /* 텍스트를 하단으로 밀어내기 */
}

