.footer {
    height: 10%;
    position: fixed;
    bottom: 0; /* 하단에 붙임 */
    left: 0; /* 왼쪽 끝에서 시작 */
    right: 0; /* 오른쪽 끝까지 확장 */
    /*margin-top: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    z-index: 1000;
    background-color: #f5a6f5;
}

.footer .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 컨테이너를 상단 정렬 */
    gap: 5px;
    height: 80px; /* 아이콘과 설명을 포함하여 고정된 높이를 지정 */
}

.footer .icon-container img {
    height: 50px; /* 모든 아이콘 이미지의 높이를 동일하게 설정 */
    width: auto; /* 이미지의 비율을 유지하기 위해 너비는 auto로 설정 */
}

.footer .icon-description {
    font-size: 12px;
    color: #666;
    margin-top: auto; /* 텍스트를 하단으로 밀어내기 */
}
