.contractContent {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}

.authentication {
    height: 40%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.contractBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #E07068;
    width: 50%;
    height: 25%;
    background-color: #E07068;
    color: white;
}