.criteria-container {
    position: fixed;
    /*width: 100%;*/
    height: 8%;
    left: 0;
    right: 0;
    padding-top: 5px;
    display: flex;
    /*justify-content: space-evenly;*/
    align-items: center;
    background-color: white;
    z-index: 1000;
}

.element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0 23px;
}

.element-container:first-child {
    margin-left: 40px;
}

.criteria-description {
    font-size: 12px;
    color: #666;
    margin-top: -5px; /* 텍스트를 하단으로 밀어내기 */
}

.circle-border {
    border: 1px solid #707070;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /*margin-top: 3px;*/
}
